
.logo{
    width: 100px;
    
    }
    
    header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        height: 90px;
        top: 0;
        box-shadow: 0 3px 3px 0;
        background-color: black;
        position:fixed ;
        margin-bottom: 300px;

         
      }

    .logo-site{
        width: 90px;
        
    }
    
    ul{
        display: flex;
        margin: 0 auto;
        width: 75%;
         height: 60px;
         list-style: none;

    }

    li{
     width: 210px;
     transition: all 0.5s ease;
     text-align: center;
     line-height: 60px;
     border-radius:10px ;

    }

    li:hover{
        background: #707871;
    }
    li{
        color: #fff;
        text-decoration: none;
    }
    ul li a {
        color: aliceblue;
        text-decoration: none;

    }


    
nav ul li a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav ul li a.active {
  background-color: #166d20;
  color: #fff;
}

     /* search */

     form {
      display: flex;
      align-items: center;
    }
    .content{
      margin-top: 150px;
    }
    .searcher {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
    }
    
    button[type="submit"] {
      padding: 5px 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button[type="submit"]:hover {
      background-color: #45a049;
    }
    /*search  */
    
    body{
    background-color: #484848	;
     
    }

    .feature-listt{
        box-shadow: 0px 0px 10px rgba(8, 6, 6, 0.5);
        cursor: pointer;
        margin-top: 

      }
      .genre{
        position: absolute; right: 100px;
        background-color:rgb(144, 140, 140);
         cursor: pointer;
         margin-top: px;
        
    }
    .genre:hover{
      transform:scale(1.2);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      background-size: 30px;

    }



    .row{
        display: flex;
       
    }

    

    .poster{
        height: 200px;
        margin: 10px;
        cursor: pointer;

    }
    .poster:hover{
        transform: scale(1.2);
      
    }
    .posters:hover{
        transform:scale(1.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    }
    
    .poster {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      }
      
    .movie-list{
        display: flex;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-items: baseline;
        object-fit: cover;
        margin-left:160px;
    
    }

    .tv-show-list{
        display: flex;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-items: baseline;
        height: 100px;
        object-fit: cover;
        margin-left:100px;    
    }
    h2{
        text-shadow: 10px;
        font-size: 30px;
    }
     .media{
    background-color: dimgrey;
    border: 50px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width:130px;
    cursor: pointer;

   }



   .video-games-list{
    display: flex;
    display: flex;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: baseline;
    height: 100px;
    object-fit: cover;
    margin-left:100px;
    cursor: pointer;

}

.mobile-game-list{
    display: flex;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    align-items: baseline;
    height: 100px;
    object-fit: cover;
    margin-left:100px;
    cursor: pointer;


    
}

/* trailers for you tv show */

  .trailer-sec{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .trailers{
    flex: 0 0 auto;
    width: 330px;
    height: 250px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .picture {
    width: 450px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  }
  
  
  /* footer */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 3px 0;
    background-color: black;
  
  }




  /* clicked media */

  
  .footer p {
    display: inline-block;
    margin: 100px;
    color:white;
  }
  
  .footer a {
    text-decoration: none;
    color: #fff;
     text-decoration: none;

  }
  